<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Games</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h5>僕の命っつったって 誰の命っつったって
時時々 公平に 裁かれるもんなんでしょ
暗い空にやってきた 鬱を連れてやってきた
時々雨 総計に 頼り切りだ どうしよう
朽ちるまでの愛憎を 朽ちるまでの愛憎を
飲み込む君 簡単に 微笑む君 どうして
言葉を書く 曖昧に 言葉を書く 曖昧に
伝わりきらんないから 君だけをさ 信じて
捨ててきた夢をあつめて
ちょっと ちょっと 間違えたから
ああ 「時に 時に 躓いたって」
寒い 寒い 寒い 寒い 寒い
寒い 寒い 寒い 寒い 寒い
寒い 寒い 寒い 寒い 言い寄らないで
ああ 君の 君の 君の声が
遠い 遠い 遠い 遠い 遠い
遠い 遠い 遠い 遠い 遠い
遠い 遠い 遠い 遠い 傷つけないで
何番目でも 何番目でも
僕が僕であるために？
契り集め持ってきた 契り集め持ってきた
あの日の間違いを 飲み込むのが苦しくて
朽ちるまでの愛憎を 朽ちるまでの愛憎を
飲み込む君 簡単に 微笑む君 どうして
「子供だましの花ふたつ」
きっと きっと 諦めたから？
ああ 遠い夢を追いかけてさ
早い 早い 早い 早い 早い
早い 早い 早い 早い 早い
早い 早い 早い 早い 追いつけないよ
捨てきれず残した思いが
憎い 憎い 憎い 憎い 憎い
憎い 憎い 憎い 憎い 憎い
憎い 憎い 憎い 憎い 許されないの？
ああ 夢を 夢を見てたはずが
怖い 怖い 怖い 怖い 怖い
怖い 怖い 怖い 怖い 怖い
怖い 怖い 怖い 怖い 近づかないで
合言葉を繰り返すだけ
寒い 寒い 寒い 寒い 寒い
寒い 寒い 寒い 寒い 寒い
寒い 寒い 寒い 寒い お願いだから
何番目でも 何番目でも
僕が僕であるために...</h5>
<h3>Jogo em Destaque:</h3>
<ul>
    <li>Titulo: <strong>{{title}}</strong></li><li>Ano: <strong>{{year}}</strong></li><li>Categoria: <strong>{{category}}</strong></li>
</ul>
<p>O jogo {{title}} tem {{2025-year}} anos.</p>

<h3>Top players:</h3>
<ol>
    {% for player in players %}
       <li>{{player}}</li>
    {% endfor %}
</ol>
<h4>Console mais bem avaliado:</h4>
{% for key, value in console.items() %}
{{key}} : {{value}} <br>
{% endfor %}
</body>
</html>